data/
__pycache__/
.vscode/
.idea/
test.py
sim.py
customDuffing2/delta_0_00.npz
customDuffing2/delta_0_01.npz
customDuffing2/delta_0_02.npz
customDuffing2/delta_0_03.npz
customDuffing2/delta_0_04.npz
customDuffing2/delta_0_05.npz
customDuffing2/delta_0_06.npz
customDuffing2/delta_0_07.npz
customDuffing2/delta_0_08.npz
customDuffing2/delta_0_09.npz
customDuffing2/delta_0_10.npz
customDuffing2/delta_0_11.npz
customDuffing2/delta_0_12.npz
customDuffing2/delta_0_13.npz
customDuffing2/delta_0_14.npz
customDuffing2/delta_0_15.npz
customDuffing2/delta_0_16.npz
customDuffing2/delta_0_17.npz
customDuffing2/delta_0_18.npz
customDuffing2/delta_0_19.npz
customDuffing2/delta_0_20.npz
customDuffing2/delta_0_21.npz
customDuffing2/delta_0_22.npz
customDuffing2/delta_0_23.npz
customDuffing2/delta_0_24.npz
customDuffing2/delta_0_25.npz
customDuffing2/delta_0_26.npz
customDuffing2/delta_0_27.npz
customDuffing2/delta_0_28.npz
customDuffing2/delta_0_30.npz
customDuffing2/vels.npz
customDuffing.py
readCustomDuffing.py
.gitignore
customDuffing/delta_0_00.npz
customDuffing/delta_0_01.npz
customDuffing/delta_0_02.npz
customDuffing/delta_0_03.npz
customDuffing/delta_0_04.npz
customDuffing/delta_0_05.npz
customDuffing/delta_0_06.npz
customDuffing/delta_0_07.npz
customDuffing/delta_0_08.npz
customDuffing/delta_0_09.npz
customDuffing/delta_0_10.npz
customDuffing/delta_0_11.npz
customDuffing/delta_0_12.npz
customDuffing/delta_0_13.npz
customDuffing/delta_0_14.npz
customDuffing/delta_0_15.npz
customDuffing/delta_0_16.npz
customDuffing/delta_0_17.npz
customDuffing/delta_0_18.npz
customDuffing/delta_0_19.npz
customDuffing/delta_0_20.npz
customDuffing/delta_0_21.npz
customDuffing/delta_0_22.npz
customDuffing/delta_0_23.npz
customDuffing/delta_0_24.npz
customDuffing/delta_0_25.npz
customDuffing/delta_0_26.npz
customDuffing/delta_0_27.npz
customDuffing/delta_0_28.npz
customDuffing/delta_0_29.npz
customDuffing/delta_0_30.npz
customDuffing/vels.npz
